<form method="post" action="{{ path('admin_commande_delete', {'id': commande.id}) }}" onsubmit="return confirm('Confirmez-vous la suppression ??');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ commande.id) }}">
    <button class="btn">Supprimer</button>
</form>
