{% extends 'gestion.html.twig' %}

{% block title %}New Commande{% endblock %}

{% block body %}
    <h1>Ajouter Commande</h1>

    {{ include('admin/commande/_form.html.twig') }}

    <a href="{{ path('admin_commande_index') }}"><i class="fa fa-reply"></i> Retour</a>
{% endblock %}
